.text {
  text-align: center;
  font-size: 32px;
}
.link {
  text-align: center;
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 34, 255));
  color: white;
  font-size: 30px;
}
.build {
  width: 128px;
  height: 128px;
  &_wrapper {
    padding: 280px 0;
  }
}
