.wrapper {
  height: calc(100vh - var(--welcome-nav-height));
  display: flex;
  //margin-bottom: var(--welcome-nav-height);
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    var(--welcome-bg-start) 0%,
    var(--welcome-bg-end) 100%
  );
  > header {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    > h1 {
      color: #d4d4ee;
    }
    > img {
      width: 64px;
      height: 68.97px;
    }
  }
  > main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
